<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <!-- INTERFACE -->
    <cc:interface>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:accordionPanel activeIndex="1">
            <p:tab title="#{bookingManager.deptAirport.iataCode} - #{bookingManager.arrAirport.iataCode} / #{bookingManager.searchDeptDate} - #{bookingManager.searchArrDate}   " >              

                <p:panelGrid>
                    <p:row>
                        <p:column colspan="6">
                            <p:selectOneRadio id="console" value="#{bookingManager.choice}">
                                <f:selectItem itemLabel="Return" itemValue="return" />
                                <f:selectItem itemLabel="One-Way" itemValue="oneway" />
                            </p:selectOneRadio>
                        </p:column>
                        <p:column colspan="6"><p:commandLink value="Multi City" /></p:column>
                    </p:row>
                    <!--Departure Airport-->
                    <p:row>
                        <p:column colspan="6"><p:outputLabel for="deptLoc" value="From"/></p:column>
                        <p:column colspan="6"><p:outputLabel for="arriveLoc" value="To"/></p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="6">
                            <p:autoComplete id="deptLoc" converter="airportConverter" forceSelection="true" required="true" styleClass="bookingAirport"
                                            value="#{bookingManager.deptAirport}" completeMethod="#{bookingManager.completeDeptAirport}"
                                            var="airport" itemLabel="#{airport.airportName}" itemValue="#{airport}" >
                                <p:column>
                                    <p:outputLabel value="#{airport.city.cityName}" />
                                </p:column>

                                <p:column>
                                    <p:outputLabel value="#{airport.airportName}" />
                                </p:column>

                                <p:column>
                                    <p:outputLabel value="#{airport.iataCode}" />
                                </p:column>

                                <p:column>
                                    <p:outputLabel value="#{airport.country.countryName}" />
                                </p:column>
                            </p:autoComplete>
                        </p:column>

                        <!--Arrival Airport-->
                        <p:column colspan="6">
                            <p:autoComplete id="arriveLoc" converter="airportConverter" forceSelection="true" required="true" styleClass="bookingAirport"
                                            value="#{bookingManager.arrAirport}" completeMethod="#{bookingManager.completeArrAirport}"
                                            var="airport" itemLabel="#{airport.airportName}" itemValue="#{airport}" >
                                <p:column>
                                    <p:outputLabel value="#{airport.city.cityName}" />
                                </p:column>

                                <p:column>
                                    <p:outputLabel value="#{airport.airportName}" />
                                </p:column>

                                <p:column>
                                    <p:outputLabel value="#{airport.iataCode}" />
                                </p:column>

                                <p:column>
                                    <p:outputLabel value="#{airport.country.countryName}" />
                                </p:column>
                            </p:autoComplete>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column colspan="3"><p:outputLabel for="deptDate" value="Departure Date"/></p:column>
                        <p:column colspan="3"><p:outputLabel for="arriveDate" value="Arrival Date"/></p:column>

                        <p:column colspan="2">
                            <p:outputLabel value="Adult" />
                        </p:column>
                        <p:column colspan="2">
                            <p:outputLabel value="Children" />
                        </p:column>
                        <p:column colspan="2">
                            <p:outputLabel value="Infant" />
                        </p:column>
                    </p:row>

                    <!--Departure Date & Arrival Date-->
                    <p:row>
                        <p:column colspan="3">
                            <p:calendar id="deptDate" pages="2" pattern="dd/MM/yyyy" timeZone="GMT+8"
                                        value="#{bookingManager.deptDate}" mindate="#{bookingManager.deptDate}" >
                                <p:ajax event="dateSelect" update="arriveDate" listener="#{bookingManager.onDeptDateChange()}" />
                            </p:calendar>
                        </p:column>
                        <p:column colspan="3">
                            <p:calendar id="arriveDate" pages="2" pattern="dd/MM/yyyy" timeZone="GMT+8"
                                        value="#{bookingManager.arrDate}" mindate="#{bookingManager.deptDate}" />
                        </p:column>

                        <!--Number of adult-->
                        <p:column colspan="2">
                            <p:selectOneMenu value="#{bookingManager.adultNo}">
                                <c:forEach begin="1" end="10" varStatus="index">
                                    <f:selectItem itemLabel="#{index.index}" itemValue="#{index.index}" />
                                </c:forEach>
                            </p:selectOneMenu>
                        </p:column>

                        <!--Number of children-->
                        <p:column colspan="2">
                            <p:selectOneMenu value="#{bookingManager.childrenNo}">
                                <c:forEach begin="0" end="9" varStatus="index">
                                    <f:selectItem itemLabel="#{index.index}" itemValue="#{index.index}" />
                                </c:forEach>
                            </p:selectOneMenu>
                        </p:column>

                        <!--Number of infant-->
                        <p:column colspan="2">
                            <p:selectOneMenu value="#{bookingManager.infantNo}">
                                <c:forEach begin="0" end="2" varStatus="index">
                                    <f:selectItem itemLabel="#{index.index}" itemValue="#{index.index}" />
                                </c:forEach>
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="3">
                            <p:outputLabel value="" />
                        </p:column>
                        <p:column colspan="3">
                            <p:outputLabel value="" />
                        </p:column>
                        <p:column colspan="2">
                            <p:outputLabel value="12+ years" />
                        </p:column>
                        <p:column colspan="2">
                            <p:outputLabel value="2-11 years" />
                        </p:column>
                        <p:column colspan="2">
                            <p:outputLabel value="0-23 months" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="6"><p:outputLabel for="cabinClass" value="Cabin Class"/></p:column>    
                        <p:column colspan="4"><p:outputLabel value="Promo Code"/></p:column>    
                        <p:column colspan="2"></p:column>
                    </p:row>

                    <p:row>
                        <p:column colspan="6">
                            <p:selectOneMenu id="cabinClass" value="#{bookingManager.selectedCabinCls}" converter="cabinClassConverter">
                                <f:selectItems value="#{bookingManager.cabinClses}" var="cabinCls" itemLabel="#{cabinCls.name}" itemValue="#{cabinCls}" />
                            </p:selectOneMenu>
                        </p:column>
                        <p:column colspan="4"><p:inputText value="#{bookingManager.promoCode}"/></p:column>    
                        <p:column colspan="2"><p:commandButton value="Search" action="#{bookingManager.searchFlights(bookingManager.sources.get(0),ChannelHelper.ARS)}" update="messages" /></p:column>  
                    </p:row>

                </p:panelGrid>
            </p:tab>
        </p:accordionPanel>
    </cc:implementation>
</html>