<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="flightSched" required="true" />
        <cc:attribute name="date" required ="true" />
        <cc:attribute name="airport" required="true" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <c:set var="flightSched" value="#{cc.attrs.flightSched}" />
        <c:set var="airport" value="#{cc.attrs.airport}" />
        <p:panelGrid>
            <p:row>
                <p:column>
                    <p:outputLabel value="#{cc.attrs.date}">
                        <f:convertDateTime pattern="EE, dd MMM yyyy" timeZone="GMT+8" />
                    </p:outputLabel>
                </p:column>
            </p:row>
            <p:row>
                <p:column>
                    <p:outputLabel value="#{cc.attrs.date}">
                        <f:convertDateTime pattern="HH:mm" timeZone="GMT+8" />
                    </p:outputLabel>
                    <p:outputLabel value=" #{airport.iataCode}" />
                </p:column>
            </p:row>
            <p:row>
                <p:column>
                    <p:outputLabel value="#{airport.city.cityName}, #{airport.country.countryName}" />
                </p:column>
            </p:row>
            <p:row>
                <p:column>
                    <p:outputLabel value="#{airport.airportName}" />
                </p:column>
            </p:row>

        </p:panelGrid>
    </cc:implementation>
</html>