<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../../../../../template/ArsTemplate.xhtml"
                xmlns:pa="http://xmlns.jcp.org/jsf/composite/ezcomp/panel"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="title">
        Itinerary
    </ui:define>

    <ui:define name="content">
        <p:panelGrid columns="2" columnClasses="alignTop, alignTop">
            <p:panel header="Itinerary">
                <pa:CCBookingItineraryPanel booking="#{bookingManager.booking}" customerHelpers="#{bookingManager.custHelpers}" farePrice="#{bookingManager.farePrice}" />
            </p:panel>
        </p:panelGrid>
    </ui:define>

</ui:composition>
