<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../../../../../template/WorkspaceTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        Assign User Roles
    </ui:define>

    <ui:define name="content">
        <p:panel header="Assign Roles To Users">
            <h:form id="assignUserRoles">
                <p:panelGrid class="access-control" columns="2">
                    <p:panel header="Select user">
                        <p:selectOneListbox id="assignUserRoles-userList" value="#{userController.selectedUser}"  converter="userConverter" 
                                         var="user" filter="true" filterMatchMode="contains" style="width:300px;">

                            <p:ajax update="assignUserRolesPanel,selectRoles" listener="#{userController.onUserSelected()}"/>
                            <f:selectItems value="#{userController.allUsers}" var="user" itemLabel="#{user.username}" itemValue="#{user}" />
                            <p:column>
                                <p:outputLabel value="#{user.username}" />
                            </p:column>

                        </p:selectOneListbox>
                    </p:panel>

                    <p:panel header="Select user roles" id="selectRoles">
                        <p:outputLabel value="Select user roles:" />

                        <p:selectManyMenu id="assignUserRoles-roleList" value="#{userController.roleList}" converter="roleConverter"
                                          var="role" filter="true" filterMatchMode="contains" showCheckbox="true" style="width:100%; min-width: 400px">
                            <f:selectItems value="#{roleController.allRoles}" var="role" itemLabel="#{role.roleName}" itemValue="#{role}"/>

                            <p:column>
                                <h:outputText value="#{role.roleName}"  />
                            </p:column>
                        </p:selectManyMenu>
                    </p:panel>
                </p:panelGrid>
                
                <p:dataTable id="assignUserRolesPanel" value="#{userController.roleList}" var="role" emptyMessage="No role selected" class="userRoleDataTable" tableStyleClass="table-small-font">
                    <f:facet name="header">
                        Existing user roles
                    </f:facet>
                    <p:column headerText="Roles">
                        <h:outputText value="#{role.roleName}" />
                    </p:column>

                    <p:column headerText="Permisssions">
                        <p:dataTable value="#{roleController.getRolePermissionsByRoleName(role.roleName)}" var="permission">
                            <p:column>
                                <p:outputLabel value="#{permission.permissionName}"/>
                            </p:column>
                        </p:dataTable>
                    </p:column>
                </p:dataTable>
                <p:commandButton action="#{userController.assignUserRoles()}" value="Assign" update="messages"/>    

            </h:form>        
        </p:panel>
    </ui:define>

</ui:composition>
