<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:tabMenu activeIndex="#{param.i}">
            <p:menuitem value="Book A Flight" icon="fa fa-plane">
                <f:param name="i" value="0" />
            </p:menuitem>
            <p:menuitem value="Manage Booking" icon="fa fa-reorder">
                <f:param name="i" value="1" />
            </p:menuitem>
            <p:menuitem value="Check-in Online" icon="fa fa-suitcase">
                <f:param name="i" value="2" />
            </p:menuitem>
            <p:menuitem value="Flight Status" icon="fa fa-clock-o">
                <f:param name="i" value="3" />
            </p:menuitem>
        </p:tabMenu>
    </cc:implementation>
</html>