<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="flightSchedule" required="true" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <c:set var="flightSchedule" value="#{cc.attrs.flightSchedule}" />

        <h:panelGrid columns="2" style="font-size: small">
            <p:outputLabel value="FlightNo: " />
            <p:outputLabel value="#{flightSchedule.flight.flightNo}/#{flightSchedule.flight.returnedFlight.flightNo}" />

            <p:outputLabel value="Time: " />
            <p:row>
                <p:column>
                    <p:outputLabel value="#{flightSchedule.departDate}">
                        <f:convertDateTime pattern="HH:mm" timeZone="GMT+8" />
                    </p:outputLabel>
                    <p:outputLabel value=" - " />
                    <p:outputLabel value="#{flightSchedule.arrivalDate}">
                        <f:convertDateTime pattern="HH:mm"  timeZone="GMT+8"/>
                    </p:outputLabel>
                </p:column>
            </p:row>

            <p:outputLabel value="Route: " />
            <p:outputLabel id="route" value="#{flightSchedule.leg.departAirport.iataCode} - #{flightSchedule.leg.arrivalAirport.iataCode}" />
        </h:panelGrid>

    </cc:implementation>
</html>