<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../../../../template/AasTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui">


    <ui:define name="title">
        View revenue report
    </ui:define>

    <ui:define name="content">
        <h:form>
            <p:commandButton action="#{aasNavController.redirectToReportDashboard()}" value="Return to report dashboard" update="messages" style="width:300px"/>
            <p:separator/>
            <object type="application/pdf" data="/MAS-war/resources/report/FleetCostReport.pdf" height="800px" width="100%">
            </object>
        </h:form>
    </ui:define>

</ui:composition>
