<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../../../../template/AasTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:h="http://xmlns.jcp.org/jsf/html">


    <ui:define name="title">
        View cost report
    </ui:define>

    <ui:define name="content">
        <h:form>
            <p:commandButton action="#{aasNavController.redirectToReportDashboard()}" value="Return to report dashboard" update="messages" style="width:300px"/>
            <p:separator/>

            <pe:documentViewer height="800" library="report" name="CostReport.pdf"/>
            
        </h:form>
    </ui:define>
</ui:composition>
